<section class="background js-background">

    <button class="reset__button" title="Resets content">
        <a href="#" class="reset__button--link">
            <i class="fa-regular fa-trash-can"></i>
            Reset
        </a>
    </button>

    <article class="card">
        <div class="card__info js-info">
            <h2 class="card__info--title js-preview-name">
                Nombre Apellido
            </h2>
            <h3 class="card__info--subtitle js-preview-job">
                Front-end Developer
            </h3>
        </div>

        <div class="card__image" title="customer's photo"></div>

        <nav class="socials js-socials">
            <a href="" class="socials__mobile js-preview-number">
                <i class="fa-solid fa-mobile-screen"></i>
            </a>
    
            <a href="" class="socials__mail js-preview-email">
                <i class="fa-solid fa-envelope"></i>
            </a>

            <a href="" class="socials__linkedin js-preview-linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
            <a href="" class="socials__github js-preview-github">
                <i class="fa-brands fa-github-alt"></i>
            </a>
        </nav>

    </article>
</section>

