.form {
  padding: 27px 20px 30px 20px;
  background-image: linear-gradient(to bottom, $white-four, $white-two 80%);
}

.fa-object-ungroup,
.fa-share-nodes,
.fa-keyboard {
  color: $dull-orange;
  width: 21px;
  height: 18px;
  margin-right: 10px;
}
