.form {
  padding: 27px 20px 31px 20px;
}
.design {
  &__title {
    font: $openSans_18;
    color: $gunmetal;
  }
}

.fa-object-ungroup {
  color: $dull-orange;
  display: inline-block;
  width: 21px;
  height: 18px;
}
