.background1{
    width: /*320px*/100%;
    height: 457px;
    background-image: linear-gradient(to bottom, $silver, $pale-grey 80%);
    padding: 38px 35px 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset__button{
    transform: translateX(-110%);
    width: 75px;
    height: 30px;
    border: solid 1px $white-two;
    border-radius: 15px;
    background-color: $silver;
    margin-bottom: 20px;
    cursor: pointer;
        &--link {
            text-decoration: none;
            color: $gunmetal;
            text-transform: uppercase;
        }
}

.card1{
    background-color: $white-two;
    width: 240px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 5px 5px $black-20;
        &__info {
            width: 240px;
            height: 44px;
            margin: 23px 0 10px 0;
            border-left: solid 5px $dirty-blue;
            padding-left: 15px;
                &--title {
                    /*font: $montserrat_18_700;*/
                    
                    line-height: 20;
                    color: $dark-green-blue;
                }
                &__subtitle {
                    font: $montserrat_16;
                    color: $gunmetal;
                }
        }
        &__img {
            width: 240px;
            height: 200px;    

        }
}

.socials1 {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
        &__mobile,
        &__mail,
        &__linkedin,
        &__github {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 2px $hospital-green;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 5px;
                &--link {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: $dark-green-blue;
                }
        }
}

/*-----------------CARD2--------------------*/

.background2 {
    display: none;
    width: 100%;
    height: 457px;
    background-image: linear-gradient(to bottom, #f3ad96, #f2bead 80%);
    padding: 38px 35px 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2 {
    display: none;
    background-color: $white-two;
    width: 240px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 5px 5px $black-20;

    &__info {
        width: 240px;
        height: 44px;
        margin: 23px 0 10px 0;
        border-left: solid 5px $dirty-blue;
        padding-left: 15px;

        &--title {
            font: $montserrat_18_700;
            /*line-height: 20;*/
            color: $dark-green-blue;
        }

        &__subtitle {
            font: $montserrat_16;
            color: $gunmetal;
        }
    }

    &__img {
        width: 240px;
        height: 200px;

    }
}

.socials2 {
    padding-left: 20px;
    display: flex;
    flex-direction: row;

    &__mobile,
    &__mail,
    &__linkedin,
    &__github {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $hospital-green;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 5px;

        &--link {
            display: flex;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            color: $dark-green-blue;
        }
    }
}

/*-----------------CARD3--------------------*/

.background3 {
    display: none;
    width: 100%;
    height: 457px;
    background-image: linear-gradient(to bottom, $silver, $pale-grey 80%);
    padding: 38px 35px 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card3 {
    display: none;
    background-color: $white-two;
    width: 240px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 5px 5px $black-20;

    &__info {
        width: 240px;
        height: 44px;
        margin: 23px 0 10px 0;
        border-left: solid 5px $dirty-blue;
        padding-left: 15px;

        &--title {
            font: $montserrat_18_700;
            /*line-height: 20;*/
            color: $dark-green-blue;
        }

        &__subtitle {
            font: $montserrat_16;
            color: $gunmetal;
        }
    }

    &__img {
        width: 240px;
        height: 200px;

    }
}

.socials3 {
    padding-left: 20px;
    display: flex;
    flex-direction: row;

    &__mobile,
    &__mail,
    &__linkedin,
    &__github {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $hospital-green;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 5px;

        &--link {
            display: flex;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            color: $dark-green-blue;
        }
    }
}