.background {
    width: 100%;
    height: 457px;
    background-image: linear-gradient(to bottom, $silver, $pale-grey 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset__button {
    transform: translateX(-110%);
    width: 75px;
    height: 30px;
    border: solid 1px $white-two;
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 20px;
    cursor: pointer;

    &--link {
        text-decoration: none;
        color: $gunmetal;
        text-transform: uppercase;
    }
}

.card {
    background-color: $white-two;
    width: 240px;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 5px 5px $black-20;

    &__info {
        width: 240px;
        height: 44px;
        margin: 23px 0 10px 0;
        border-left: solid 5px $dirty-blue;
        padding-left: 15px;

        &--title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 4px;
            color: $dark-green-blue;
        }

        &--subtitle {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $gunmetal;
        }
    }

    &__image {
        width: 240px;
        height: 200px;
        background-image: url(../images/card.png);
        background-position: center;
        object-fit: cover;
    }
}

.socials {
    padding-left: 20px;
    display: flex;
    flex-direction: row;

    &__mobile,
    &__mail,
    &__linkedin,
    &__github {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $hospital-green;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 5px;

        &--link {
            display: flex;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            color: $dark-green-blue;
        }
    }
}

/*-----------------PALETTE2--------------------*/

.background.palette2 {
    background-image: linear-gradient(to bottom, #f4bba9, #f2dad2 80%);
}

.card__info.palette2 {
    border-left: solid 5px $rusty-red;
}

.card__info--title.palette2 {
    color: $dried-blood;
}

.card__image.pallete2 {
    background-image: url(../images/card2.png);
}

.socials__mobile.palette2,
.socials__mail.palette2,
.socials__linkedin.palette2,
.socials__github.palette2 {
    border: solid 2px $tomato;
    color: $dried-blood;
}

.socials__mobile--link.palette2,
.socials__mail--link.palette2,
.socials__linkedin--link.palette2,
.socials__github--link.palette2 {
    color: $dried-blood;
}