footer {
  width: 100%;
  min-height: 110px;
  max-height: 15vh;
  border-top: 1px solid $white-three;
  background-color: $white-two;
}

.footer__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.copy {
  margin-top: 18px;
  color: $brownish-grey;
  opacity: 0.5;
  font: $openSans_14;
}

.adalab_logo {
  width: 150px;
  height: 70px;
  margin-top: 3px;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  footer {
    padding: 10px 40px 10px 41px;
    height: 60px;
  }

  .footer__main {
    flex-direction: row;
    justify-content: space-between;
  }

  .copy {
    font-size: 14px;
  }
}
