.header {
  display: flex;
  justify-content: center;
  background-color: $white-four;
}
.logo-awesome-profile-cards {
  width: 250px;
  height: 64px;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .logo-awesome-profile-cards {
    width: 419px;
    height: 105px;
  }
}
