.header {

    display: flex;
    justify-content: center;
    height: 35vh;
    

}
.logo-awesome-profile-cards {

    width: 250px;
    height: 64px;
    margin: 22vh 0 0 ;
}

@media all and (min-width: 1024px) {
        .logo-awesome-profile-cards {
    
            width: 201px;
            height: 50px;
            
        }
}
